header, section, footer {
  margin-inline: auto;
}

h1 {
  line-height: 5.5rem;
  font-size: clamp(4rem, 8vw, 4.8rem);
}

h2 {
  font-size: clamp(3rem, 6vw, 3.4rem);
  line-height: 4rem;
}

h2 span {
  color: #4b8ef1;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
  color: #afafaf;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

button {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 2.3rem;
  border: 0;
  text-transform: capitalize;
  letter-spacing: 0.09rem;
  background-color: #4b8ef1;
}

a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.width__control {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

/* HEADER */
/* NAV */
.header__nav {
  padding-inline: 2rem;
  padding-block: 2.5rem;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.header__nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__chain-app {
  width: 10rem;
}
.nav__menu {
  display: none;
  align-items: center;
  gap: 2rem;
}
.nav__menu a{
  color: #000;
  letter-spacing: 0.09rem;
}
.nav__menu .active {
  color: #4b8ef1;
}

/* NAV MOBILE  */
.nav__menu-mobile {
  position: relative;
  width: 3rem;
  height: 2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.nav__menu-mobile span {
  width: 100%;
  height: 0.2rem;
  background-color: #000;
  transition: all .3s;
}
.nav__menu-mobile::after,.nav__menu-mobile::before {
  position: absolute;
  content: "";
  left: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: #000;
  transition: all .5s;
}
.nav__menu-mobile::after {
  top: 0rem;
}
.nav__menu-mobile::before {
  bottom: 0rem;
}
.nav__mobile .nav__menu-mobile span {
  opacity: 0;
}
.nav__mobile .nav__menu-mobile::before {
  transform: rotate(45deg);
  top: 50%;
  width: inherit;
}
.nav__mobile .nav__menu-mobile::after {
  transform: rotate(-45deg);
  top: 50%;
  width: inherit;
}

/* HEADER CONTENT */
.header__content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding-block: 7rem;
}
.header__content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
.header__btns-app {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.header__image {
  margin-inline: auto;
  max-width: 45rem;
  width: 100%;
}

/* SECTION */
.section {
  margin-block: 10rem;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 3.5rem;
}
.section__description {
  margin-inline: 1rem;
  max-width: 50rem;
}
.section__header img {
  width: auto;
}
/* SERVICES */
.section__services {
  margin-top: 5rem;
}
.section__services .section__header {
  position: relative;
}
.section__services .section__header::after {
  position: absolute;
  opacity: .7;
  content: "";
  width: 100%;
  height: 150%;
  top: -12rem;
  right: 0%;
  background-image: url("../images/services-right-dec.png");
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
}
.section__services-card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.section__services-card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 98%;
  left: 0;
  background-image: url("../images/services-left-dec.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 1.5rem;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 1rem;
  border-top-right-radius: 5rem;
  transition: all .3s;
}
.card__icon {
  align-self: end;
}
.services__card a {
  color: #4b8ef1;
}
/* ABOUT */
.section__about-container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.section__about-content {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 4rem;
}
.section__about-menu {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 3rem;
}
.content__menu {
  padding: 1rem 2rem;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 5rem;
  background-color: #fff;
}
.section__about-content button {
  justify-self: center;
}
.section__about-image {
  width: 100%;
}
/* REVIEWS */
.section__reviews-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.section__reviews-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.review__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
}
.review__content p {
  line-height: normal;
}
.review__company {
  display: none;
  font-weight: 600;
}
.review__rate {
  color: #afafaf;
  font-size: 1.5rem;
  font-weight: 600;
}
.section__reviews-menu .active h3, 
.section__reviews-menu .active .review__rate {
  color: #4b8ef1;
}
.section__reviews-content {
  background: url("../images/client-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 3rem;
  border-radius: 4rem;
}
.section__reviews-content img {
  width: 7rem;
  padding-bottom: 2.5rem;
}
.review__post {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.8;
  color: #fff;
}
.section__reviews-staff {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.section__reviews-staff img {
  width: 14rem;
  border-radius: 50%;
}
.review__staff h3 {
  text-align: start;
  line-height: 1.8;
}
.review__staff p {
  line-height: 1.2;
  text-align: start;
}
/* PLANS */
.section__plans-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
}
.plan__card {
  width: 100%;
  height: 58rem;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #4b8ef1;
  border-radius: 4rem;
  overflow: hidden;
  padding-inline: 2rem;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.business__plan-card {
  height: 65rem;
}
.business__plan-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pro-table-top.png");
  background-repeat: no-repeat;
  background-position: left top;
  z-index: 0;
}
.business__plan-card::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pro-table-bottom.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100%;
  z-index: 0;
}
.premium__plan-card::before,
.standard__plan-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/regular-table-top.png");
  background-repeat: no-repeat;
  background-position: left top;
  z-index: 0;
}
.premium__plan-card::after,
.standard__plan-card::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/regular-table-bottom.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100%;
  z-index: 0;
}
.plan__price {
  font-size: 3.5rem;
  font-weight: bold;
  align-self: start;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3rem;
  margin-left: 2.2rem;
}
.business__plan-card .plan__price {
  margin-top: 4rem;
  margin-left: 2.5rem;
}
.plan__card h3 {
  /* color: #000; */
  z-index: 1;
  margin-top: 3rem;
}
.plan__card img {
  width: auto;
}
.plan__card del {
  color: #afafaf;
}
.plan__card button {
  background-color: #fff;
  color: #4b8ef1;
  border: 1px solid #4b8ef1;
  z-index: 1;
  margin-top: 1rem;
}
/* FOOTER */
.footer {
  position: relative;
  z-index: 1;
  padding-block: 4rem;
}
.footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 110%;
  bottom: 0;
  right: 0;
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: -1;
}
.footer h3,
.footer p,
.footer a {
  color: #fff;
}
/* NEWSLETTER */
.newsletter__header {
  margin-bottom: 6rem;
}
.newsletter__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
}
.newsletter__subscribe input {
  font-size: 1.5rem;
  border: 1px solid #fff;
  outline: none;
  padding: 1.2rem 2rem;
  border-radius: 2.3rem;
  color: #fff;
}
.newsletter__subscribe input::placeholder {
  color: #4b8ef1;
}
.newsletter__subscribe button {
  background-color: #fff;
  color: #4b8ef1;
}
/* FOOTER CONTENT */
.footer__menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 2.5rem;
}
.footer__menu-links menu h3 {
  margin-bottom: 0.5rem;
}
.footer__menu-links menu {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.footer__about-company img {
  margin-bottom: 1.5rem;
}
.footer__copyright {
  padding-top: 4rem;
}