@media (width >= 500px) {
  .section__services-card::after {
    display: none;
  }
}

@media (width >= 576px) {
  .header__nav-content {
    padding-inline: 0rem;
  }
  .review__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 4rem;
  }
  .review__content h3,
  .review__content p {
    text-align: start;
  }
  .review__rate {
    justify-self: end;
  }
  .review__rate span {
    display: block;
    text-align: center;
  }
}
@media (width >= 768px) {
  .width__control {
    max-width: 70rem;
  }
  .section__services .section__header::after {
    right: 12rem;
  }
  .section__services-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .section__about-content {
    row-gap: 2.5rem;
  }
  .section__about-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .review__content {
    display: grid;
    grid-template-columns: 1fr .7fr .8fr;
    padding-inline: 4rem;
    align-items: start;
  }
  .review__company {
    display: block;
  }
  .review__rate span {
    display: inline-block;
  }
  .section__reviews-staff {
    justify-content: start;
  }
  .section__plans-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }
  .business__plan-card {
    grid-area: 1 / 2 / 4 / 4;
  }
  .footer::after {
    height: 115%;
  }
  .newsletter__header {
    color: #fff;
  }
  .newsletter__subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .footer__menu-links {
    display: grid;
    grid-template-columns: auto .5fr;
    grid-template-rows: repeat(2, auto);
    align-items: start;
    text-align: start;
  }
  .footer__menu-links h3 ,
  .footer__about-company p {
    text-align: start;
  }
  .footer__about-company {
    max-width: 30rem;
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (width >= 992px) {
  .width__control {
    max-width: 99.2rem;
  }
  .nav__menu {
    position: relative;
    width: auto;
    top: 0;
    box-shadow: none;
    padding-block: 0;
    flex-direction: row;
    margin-left: auto;
  }
  .nav__hidden-menu {
    transform: scaleY(1);
    opacity: 1;
  }
  .nav__menu-hamburger {
    display: none;
  }
  .header__content {
    flex-direction: row;
  }
  .header__content-title {
    max-width: 60rem;
    align-items: start;
    justify-content: center;
  }
  .header__description {
    max-width: 45rem;
  }
  .header__title,
  .header__description,
  .section__about-content .section__title,
  .section__about-content .section__description,
  .section__about-content > p {
    text-align: start;
  }
  .section__services {
    margin-top: 15rem;
  }
  .section__services .section__header::after {
    right: 25rem;
  }
  .section__services-card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }
  .section__about-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .section__about-container::after {
    position: absolute;
    content: "";
    width: 150%;
    height: 150%;
    top: -20rem;
    right: 3%;
    background-image: url("../images/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    z-index: -1;
  }
  .section__about-content {
    align-self: center;
  }
  .section__about-content .section__header {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .section__about-content p {
    margin-inline: 0;
    max-width: 50rem;
  }
  .section__about-content > button {
    justify-self: start;
  }
  .section__about-image {
    width: auto;
    justify-self: end;
  }
  .section__about-image img {
    max-width: auto;
    width: auto;
    height: 55rem;
  }
  .section__reviews-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 4rem;
  }
  .section__reviews-menu {
    align-self: start;
    max-width: 60rem;
    grid-area: 1 / 1 / 4 / 2;
    row-gap: 5rem;
  }
  .review__content {
    padding-inline: 0rem;
  }
  .section__plans-card {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }
  .business__plan-card {
    grid-area: auto;
  }
  .newsletter__header h2 {
    font-size: 3.9rem;
    max-width: 70rem;
    margin-inline: auto;
  }
  .newsletter__subscribe {
    grid-template-columns: repeat(2, 35rem);
  }
  .footer__menu-links {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: start;
  }
  .footer__contact-links {
    margin-right: 2rem;
  }
  .footer__about-company {
    grid-area: auto;
  }
  .footer__about-company img {
    margin-bottom: 0;
  }
}
@media (width >= 1200px) {
  .width__control {
    max-width: 120rem;
  }
  .header__description {
    max-width: 55rem;
  }
  .section__services .section__header::after {
    top: -8rem;
    right: 0;
    background-size: cover;
  }
  .section__services-card {
    gap: 2rem;
  }
  .section__about-image img {
    height: 65rem;
  }
  .section__reviews-posts {
    grid-template-columns: 1fr auto;
  }
  .section__reviews-content {
    max-width: 45rem;
  }
  .section__plans-card {
    gap: 2.5rem;
  }
  .footer__contact-links {
    margin-right: 8rem;
  }
}