@media (width >= 576px) {
  .review__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 4rem;
  }
  .review__content h3,
  .review__content p {
    text-align: start;
  }
  .review__rate {
    justify-self: end;
  }
  .review__rate span {
    display: block;
    text-align: center;
  }
}
@media (width >= 768px) {
  .width__control {
    max-width: 70rem;
  }
  .review__content {
    display: grid;
    grid-template-columns: 1fr .7fr 1fr;
    padding-inline: 4rem;
  }
  .review__company {
    display: block;
  }
  .review__rate span {
    display: inline-block;
  }
  .section__reviews-staff {
    justify-content: start;
  }
}